/* index.css */
.properties {
    padding: 2rem 0;
  }
  
  .properties-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .property-card-container {
    
    background-color: var(--primary-color);
    padding: 1rem;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    text-align: center;
  }
  
  





  /* src/Hero/Properties.css */


  
  .properties {
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
  }
  
  .properties h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  
  .properties-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
  }
  
  .property-card {
 
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .property-card:hover {
    transform: scale(1.05);
  }
  
  .property-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
  }
  
  .property-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .property-button {
    background-color: white;
    color: black ;
    padding: 0.5rem 1rem;
    border: 1.1px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .property-button:hover {
    color: white;
    background: transparent;

    color: rgb(0, 51, 52);
    border: 1px solid tomato;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  
  }
  
  