.steps-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #f5f7fa;
}

.steps-container h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.steps-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.step-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.step-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.icon-section img {
    width: 50px;
    height: 50px;
}

.text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-section h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

.text-section p {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}
